.card {
  width: 80px;
  height: 104px;
  border: 0.5px solid #cdcdcd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: box-shadow ease-in-out 0.4s, border ease-in-out 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: 3px 4px 10px #cdcdcd;
  }
}

.number {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.orangeBodrer {
  border: 0.5px solid #ed5517;
  border-radius: 8px;
}

.blackBorder {
  border: 1px solid #0a0a0c;
  border-radius: 8px;
  pointer-events: none;

  &:hover {
    cursor: default;
    box-shadow: none;
  }
}
